<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <div id="side-menu"><%- include('./partials/header.ejs') %></div>
    <div id="background"></div>
    <div id="submit-info-body">
        <div class="submit-info-main">
            <form action="/users" method="POST">
                <div class="list-ui"><div class="row-ui">Name</div><div class="input-data-holder"><input type="text" name="name" class="input-data" id="" placeholder="Name"></div></div>
                <div class="list-ui"><div class="row-ui">Surname</div><div class="input-data-holder"><input type="text" name="surname" class="input-data" id="" placeholder="Surname"></div></div>
                <div class="list-ui"><div class="row-ui">Email</div><div class="input-data-holder"><input type="email" name="email" class="input-data" id="" placeholder="Email"></div></div>
                <div class="list-ui"><div class="row-ui">Orders</div><div class="input-data-holder"><input type="count" name="count" class="input-data" id="" placeholder="Orders"></div></div>
                <div class="list-ui"><div class="row-ui"></div><div class="row-ui-data"><button class="submit-data">Submit</button></div></div>    
            </form>     
        </div>
    </div>
</body>
</html>